body {
    width: 400px; /* Adjust width as needed */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f9f9f9; /* Light grey background */
}
h1 {
    color: #333; /* Dark grey color */
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
#results {
    background-color: #fff; /* White background for the results area */
    border: 1px solid #ddd; /* Light grey border */
    padding: 10px;
    height: 200px; /* Adjust height as needed */
    overflow-y: auto; /* Enable vertical scroll if content is long */
    text-align: left;
    font-size: 14px;
    color: #555; /* Darker grey for text */
}
#results p {
    margin: 0.5em 0;
}
#results ul {
    list-style-type: disc; /* Adds bullets to list items */
    padding-left: 20px;
}
#results li {
    margin: 0.5em 0;
}
.loader {
    display: none; /* Hidden by default, shown when JavaScript changes its style */
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#siteName {
    font-size: smaller; /* Smaller font size for the website name */
    margin-top: -10px; /* Adjust as needed */
}

#refreshButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1em;
}